
     <style>
     
        .contenedor{
             font-family: Arial, Helvetica, sans-serif;
             width: 85%;
             font-size: 12px;
             margin: auto;
        }
   
        .padre {
            width: 95%;
             border: 1px solid #333;
             border-collapse: collapse;
        }
   
        .t{
             width: 100%;
             border-collapse: collapse;
        }
   
        .t td, .padre td{
             border: 1px solid #333;
             padding: 5px;
        }
   
        .t tr tr {
             page-break-inside: avoid;
        }
   
        .none{
             padding: 0px !important;
             border: 0px !important;
        }
   
        .titulo {
             padding: 0 8px;
             font-size: 12px;
        }
   
        .center{
             text-align: center;
        }
   
   
        .small {
             font-size: 11px !important;
        }
   
        .firma img{
             width: 100px !important;
        }
   
        .salto {
             page-break-inside: avoid !important;
        }
  
        .vt_picture {
             width: 210px !important;
        }
  
        .vt-picture {
             width: 210px !important;
        }

        .grande img {
             width: 400px !important;
        }

        .color {
            color: #005AA7;
        }

        .fondo {
            background: #005AA7;
            color: #fff;
        }

        .bold{
            font-weight: bold;
        }

        .center {
            text-align: center;
        }

        .fila:nth-child(odd) {
           background-color: #FCE5D1;
        }

        .fila2:nth-child(even) {
           background-color: #f3f3f3;
        }

        .pp p{
            margin: 2px;
        }

        .fotoacta img {
            width: 300px !important;
            height: auto !important;
        }

        .rec img{
             width: 300px;

        }
   </style>
   
       <div class="contenedor">
            <table class="t" style="width: 100%;">
                 <thead>
                   <tr>
                       <td style="border: 0px; padding: 8px;"></td>
                   </tr>
                   <tr>
                       <td class="none"> 
                           <table class="t">
                               <tr>
                                   <td style="border: 0px;"></td>
                               </tr>
                               <tr>
                                   <td class="bold none" style="vertical-align: top;">
                                       <table class="t">
                                           <tr>
                                               <td style="border: 0px;" class="bold"><h3 style="margin: 0;">Informe de Desinfección de Tanques <span data-frm="Consecutive"></span></h3></td>
                                           </tr>
                                           <tr>
                                               <td style="border: 0px; padding: 1px;">
                                                   <h5>Estimada: <strong data-api="ESTIMADO"></strong></h5><br>
                                                   <strong>Lavado de Tanques, <span data-frm="LocationName"></span></strong> Sede <span data-frm="AssetName"></span> Código <span data-frm="ASSET_CODIGO"></span>
                                               </td>
                                           </tr>

                                           <tr>
                                               <td style="border: 0px; padding: 1px;" class="bold">Fecha de ejecución: <span data-api="FECHA"></span> <span data-api="HORA"></span></td>
                                           </tr>
                                       </table>
                                   </td>
                                
                                   <td class="bold none" style="width: 250px; vertical-align: top; text-align: right;">
                                       <img src="https://s3.amazonaws.com/logocompanies/A10B3A25-A7A4-44C3-A80D-CC62C13E2812.jpeg
                                       " width="100px" alt="">
                                   </td>
                               </tr>
                           </table>
                       </td>
                  </tr>
                   <tr>
                       <td style="border: 0px; padding: 8px;"></td>
                   </tr>
               </thead>
       
               <tfoot>
                  <tr>
                       <td class="none">
                            <table class="t">
                                 <tr>
                                  <td style="border: 0px; border-bottom: 2px solid #103F91;"></td>
                                 </tr>
                             <tr>
                                 
                                  <td style="border:0px; text-align: right;">
                                        <p class="bold"><strong>Dirección: </strong> Carrera 108 No. 42-17 - Torre 2 #1004</p> 
                                        <p class="bold"><strong>Télefono: </strong> (+57 2) 374 3494/ (+57) 313 787 1028 </p> 
                                        <p class="bold"><strong>Correo Electrónico: </strong> servicioalcliente@neduer.com </p> 
                                   
                                   </td>
                             </tr>
                            </table>
                       </td>
                  </tr>
             </tfoot>

                 <tbody>
                     <tr>
                         <td class="none">
                             <table class="t">
                               <td class="none" style="width: 50%; vertical-align: top;">
                                   <table class="t">
                                       <tr>
                                           <td colspan="2" class="center bold fondo">DATOS DEL CLIENTE Y SU SEDE
                                         </td>
                                       </tr>
                                       
                                       <tr>
                                           <td class="bold" style="width: 150px; background-color: #f3f3f3;">NOMBRE: </td>
                                           <td class="bold"><span data-frm="LocationName"></span></td>
                                       </tr>
                                       

                                       <tr>
                                           <td class="bold" style="width: 150px; background-color: #f3f3f3;">DIRECCION: </td>
                                           <td class="bold"><span data-frm="Street"></span></td>
                                       </tr>

                                       <tr>
                                           <td class="bold" style="width: 150px; background-color: #f3f3f3;">CORREO ELECTRONICO: </td>
                                           <td class="bold"><span data-frm="LocationEmail"></span></td>
                                       </tr>


                                       <tr>
                                           <td class="bold" style="width: 150px; background-color: #f3f3f3;">MUNICIPIO: </td>
                                           <td class="bold"><span data-frm="City"></span></td>
                                       </tr>

                                 

                                       <tr>
                                           <td class="bold" style="width: 150px; background-color: #f3f3f3;">SEDE: </td>
                                           <td class="bold"><span data-frm="AssetName"></span></td>
                                       </tr>

                                       <tr>
                                           <td class="bold" style="width: 150px; background-color: #f3f3f3;">CODIGO SEDE: </td>
                                           <td class="bold"><span data-frm="ASSET_CODIGO"></span></td>
                                       </tr>

                                       <tr>
                                           <td class="bold" style="width: 150px; background-color: #f3f3f3;">CIUDAD SEDE: </td>
                                           <td class="bold"><span data-frm="ASSET_CIUDAD"></span></td>
                                       </tr>

                                       <tr>
                                           <td class="bold" style="width: 150px; background-color: #f3f3f3;">DIRECCION SEDE: </td>
                                           <td class="bold"><span data-frm="ASSET_DIRECCION"></span></td>
                                       </tr>

                                   </table>
                               </td>
                               <td  style="width: 100px; border: 0px;"></td>
                               <td class="none" style="width: 50%; vertical-align: top;">
                                 <table class="t">
                                     <tr>
                                         <td colspan="2" class="center bold fondo">PRESTA EL SERVICIO
                                       </td>
                                     </tr>

                                   <tr>
                                       <td colspan="2" class="bold" style="width: 150px">
                                       <p>GRUPO NEDUER SAS <br>
                                      CR 108 #42-17 TORRE 2 1004 <br>
                                      CALI – VALLE DEL CAUCA</p></td>
                                   </tr>

                                  
                                 </table>
                             </td>
                             </table>
                         </td>
                     </tr>

                     <tr>
                       <td style="border: 0px; padding: 10px;"></td>
                   </tr>

                   <tr>
                        <td class="none">
                             <table class="t">
                                  <tr>
                                       <td class="center bold" style="border: 0px;">
                                            <h4>INTRODUCCIÓN </h4>
                                       </td>
                                  </tr>

                                  <tr>
                                       <td style="border: 0px; text-align: justify;">
                                           <p style="margin-bottom: 20px; font-size: 16px;">De acuerdo a una investigación realizada por la Secretaria de Salud municipal, donde se tuvieron en cuenta las condiciones estructurales, de lavado y desinfección entre empresas y establecimientos con Sistemas de Almacenamiento de Agua Potable para Consumo Humano, se pudo constatar el deterioro a la calidad del agua de consumo, situación que en cualquier momento puede generar un riesgo para salud de la población individual o colectiva que utiliza este sistema; por lo tanto, la secretaria de Salud Municipal emitió la resolución 4145 del 2014 donde se establecen los controles y cuidados a tener en cuenta en los sistemas de Almacenamiento de agua potable, razón por la cual las empresas de Lavado de Tanques, como <strong>GRUPO NEDUER</strong> fue creada para ayudar a los usuarios a tener tranquilidad a la hora de consumir esta agua. </p>

                                           <p style="margin-bottom: 20px; font-size: 16px;">
                                                La empresa <strong>GRUPO NEDUER</strong>, tiene a su disposición de un equipo técnico altamente capacitado para brindar el mejor servicio de Lavado y Desinfección a su Sistema de Almacenamiento de Agua Potable, teniendo en cuenta los cuidados que se establecen tanto en la resolución 4145 del 2014, como en el decreto 1575 del 2007 y la resolución 2115 del 2007. 
                                           </p>
                                      </td>
                                  </tr>
                             </table>
                        </td>
                   </tr>

                   <tr>
                        <td class="none">
                             <table class="t">
                                  <tr>
                                       <td style="border: 0px;" class="bold">
                                            <h4><strong>Recurso Humano</strong></h4>
                                       </td>
                                  </tr>

                                  <tr>
                                       <td style="border: 0px; padding-left: 20px;">
                                            <p style="margin-bottom: 20px; font-size: 16px;">
                                                Acompañamiento de dos ( <span data-api="CANTIDAD"></span> ) operarios para actividades de lavado y desinfección del tanque, el día <span id="fdate1"></span> jornada completa. 
                                                <span data-api="FECHA" id="date1" style="display: none;"></span>
                                           </p>

                                           <p style="margin-bottom: 20px; font-size: 16px;">
                                               
                                                <span data-api="INFORMACION"></span>
                                           </p>
                                       </td>
                                  </tr>

                                  <tr>
                                       <td class="none">
                                            <table class="t">
                                                 <tr id="recursosImagenes"></tr>
                                            </table>
                                       </td>
                                  </tr>
                             </table>
                        </td>
                   </tr>

                   <tr>
                        <td class="none">
                             <table class="t">
                                  <tr>
                                       <td>
                                           <table style="display: none;" data-api="FOTOS">
         
                                                <tbody data-container="true" data-template="true">
                                                    <tr class="ftrecursos">
                                                        <td data-col="FOTO" style="width: 100px; border: 2px solid #333;" class="rec center"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                       
                       
                                            <table style="display: none;" data-api="DIAS">
                                  
                                                <tbody data-container="true" data-template="true">
                                                    <tr class="dias">
                                                        <td data-col="FECHA"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                       
                       
                                            <table style="display: none;" data-api="ACTIVIDADESMD1">
                                  
                                                <tbody data-container="true" data-template="true">
                                                    <tr class="actividades1">
                                                        <td data-col="ACTIVIDADES"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                       
                                            <table style="display: none;" data-api="ACTIVIDADESMD2">
                                  
                                                <tbody data-container="true" data-template="true">
                                                    <tr class="actividades2">
                                                        <td data-col="ACTIVIDADES"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                       
                                            <table style="display: none;" data-api="LISTAEQUIPOSHERRAMIENTAS">
                                  
                                                <tbody data-container="true" data-template="true">
                                                    <tr class="lista">
                                                        <td data-col="Name"></td>
                                                        <td data-col="FOTO"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                       
                                       </td>
                                  </tr>
                             </table>
                        </td>
                   </tr>


                   <tr>
                       <td class="none">
                            <table class="t">

                                 <tr>
                                      <td style="border: 0px; padding-left: 20px;">
                                           <p style="margin-bottom: 20px; font-size: 16px;">
                                                Es un placer para nosotros presentar el informe de gestión del lavado y desinfección del tanque de agua potable ubicados <span data-frm="AssetName"></span>, el día <span id="dias" style="display: inline-block;"></span>
                                               
                                          </p>

                                          <p style="margin-bottom: 20px; font-size: 16px;">
                                              
                                           Las labores de mantenimiento correctivo se ejecutaron mediante actividades programadas y fueron desarrolladas de acuerdo a planes específicos elaborados por el contratista, que fueron presentados y aprobados por el contratante según cotización.
                                          </p>
                                      </td>
                                 </tr>

                                 <tr class="aereo">
                                      <td style="border: 0px;">
                                           <strong>Actividades realizadas </strong>
                                      </td>
                                 </tr>

                                 <tr class="aereo">
                                      <td style="padding-left: 30px; border: 0px;">
                                           <strong>Tanques Aéreos (<span data-api="CANTIDADTANQUEAEREOS" id="aereo"></span>) </strong>
                                      </td>
                                 </tr>

                                 <tr class="aereo">
                                      <td style="padding-left: 30px; border: 0px;">
                                           <table class="t" id="lista1">

                                           </table>
                                      </td>
                                 </tr>


                                 <tr class="subte">
                                      <td style="border: 0px;">
                                           <strong>Actividades realizadas </strong>
                                      </td>
                                 </tr>

                                 <tr class="subte">
                                      <td style="padding-left: 30px; border: 0px;">
                                           <strong>Tanques Subterráneo (<span data-api="CANTIDADTANQUESUB" id="subte"></span>) </strong>
                                      </td>
                                 </tr>

                                 <tr class="subte">
                                      <td style="padding-left: 30px; border: 0px;">
                                           <table class="t" id="lista2">

                                           </table>
                                      </td>
                                 </tr>
                            </table>
                       </td>
                  </tr>




                  <tr>
                       <td class="none">
                            <table class="t">

                                 <tr>
                                      <td style="border: 0px;">
                                           <strong>Equipos herramientas y utensilios 
                                           </strong>
                                      </td>
                                 </tr>

                                 <tr>
                                      <td style="border: 0px; padding-left: 20px;">
                                          
                                          <p style="margin-bottom: 20px; font-size: 16px;">   
                                           Los Técnicos realizaron en el proceso de lavado de tanque la desinfección y sanitación de todos los equipos, herramientas y utensilios que fueron necesarios para llevar a cabo las actividades de limpieza y desinfección del tanque, para ello realizaron una aspersión utilizando una solución de hipoclorito de sodio (cloro comercial) con una concentración del 5% y alcohol etílico al 70% de concentración, aplicándolo en todas las superficies de dichos equipos, herramientas y utensilios.
                                          </p>
                                      </td>
                                 </tr>

                                 <tr>

                                      <td style="border: 0px; padding-left: 30px;">
                                           <strong>Lista de equipos, herramientas y utensilios</strong>
                                      </td>

                                 </tr>


                                 <tr>

                                      <td style="border: 0px; padding-left: 30px;">
                                                <table class="t" id="lista3">

                                                </table>
                                      </td>

                                 </tr>

                                 <tr>

                                      <td style="border: 0px; padding-left: 30px;">
                                                <table class="t" id="lista3fotos">

                                                </table>
                                      </td>

                                 </tr>

                                 

                                 
                            </table>
                       </td>
                  </tr>

                  <tr>
                       <td class="none">
                            <table class="t">
                                 <tr>

                                      <td style="border: 0px; padding-left: 30px;">
                                           <strong>Consideraciones adicionales </strong>
                                      </td>

                                 </tr>

                                 <tr>

                                      <td style="border: 0px; padding-left: 30px;">
                                           <p style="margin-bottom: 20px; font-size: 16px;" data-api="CONSIDERACIONES"></p>
                                      </td>

                                 </tr>

                                 <tr>

                                      <td style="border: 0px; padding-left: 30px;">
                                           <strong>

                                                Desinfección y/o Sanitación </strong>
                                      </td>

                                 </tr>

                                 <tr>

                                      <td style="border: 0px; padding-left: 30px;">
                                           <p style="margin-bottom: 20px; font-size: 16px;" data-api="DESINFECCION"></p>
                                      </td>

                                 </tr>
                            </table>
                       </td>
                  </tr>

                  <tr>
                       <td class="none">
                            <table class="t">
                                 <tr>

                                      <td style="border: 0px;">
                                           <strong>Diagnóstico tanque de almacenamiento de agua potable:  </strong>
                                      </td>

                                 </tr>

                                 <tr>

                                      <td style="border: 0px;">
                                           <strong>Tabla 1.  </strong> <span>Información del Sistema de Almacenamiento </span>
                                      </td>

                                 </tr>
                            </table>
                       </td>
                  </tr>

                  <tr>
                       <td class="none">
                           <table class="t" style="width: 100%; border-collapse: collapse" data-api="DIAGNOSTICO">
                   
                               <tbody data-container="true" data-template="true">
                                 <tr style="background-color: #f1f1f1;">
                                      <td class="center bold">No.</td>
                                      <td class="center bold">CONTRATO</td>
                                      <td  class="center bold">DIRECCIÓN</td>
                                      <td  class="center bold">UBICACIÓN</td>
                                      
                                      
                                      <td  class="center bold">FECHA</td>
                                     
                                  </tr>
                                   <tr>
                                       <td data-col="DIRECCIONESTABLECIMIENTO"></td>
                                       <td data-col="CANTIDAD" ></td>
                                       <td data-col="VOLUMEN" ></td>
                                       <td data-col="UBICACION" ></td>
                                       
                                       <td>
                                       
                           <table style="width: 100%; border: 0px;" data-api="DIAGNOSTICO">
                       
                               <tbody data-container="true" data-template="true">
                                   
                                   <tr>
                                       <td style="border: 0px;" class="getThisValue" data-container="masterdetail">
                   
                                           <table style="width: 100%; border-collapse: collapse;" data-col="FECHALAVADO" >
                                               <thead>
                                                   <tr style="display:none;">
                                                       <td  style="border: 0px;">
                                                           <table data-template-md="true">
                                                               <tr>
                                               
                                           <td style="border: 0px;" data-col-md="FECHA" ></td>
                                                               </tr>
                                                           </table>
                                                       </td>
                                                   </tr>
                                                   
                                                   
                   
                                               </thead>
                                               <tbody data-container-md="true"></tbody>
                                           </table>
                   
                                       </td>
                   
                                       </tr>
                   
                                   </tbody>
                   
                               </table>
                   
                               </td>
                               
                               
                               
                               
                           </tr>

                           <tr>
                                <td colspan="5" style="border: 0px; padding: 10px;"></td>
                           </tr>
                       </tbody>
                   </table>
                       </td>
                   </tr>

                   <tr>
                       <td class="none">
                            <table class="t">
                                 <tr>

                                      <td style="border: 0px;">
                                           <strong>Cronograma Anual:  </strong>
                                      </td>

                                 </tr>

                                 <tr>

                                      <td style="border: 0px;">
                                           <strong>Tabla 2.  </strong> <span>Cronograma de Lavados  </span>
                                      </td>

                                 </tr>
                            </table>
                       </td>
                  </tr>

                  <tr>
                       <td class="none">
                            <table class="t" style="width: 100%; border-collapse: collapse" data-api="CRONOGRAMA">
                   
                                 <thead>
                                     <tr style="background-color: #f1f1f1;">
                                         <td class="center bold">Fecha de Lavado 1</td>
                                         <td class="center bold">Fecha de Lavado 2</td>
                                         <td  class="center bold">Fecha de Lavado 3</td>
                                        
                                     </tr>
                     
                                 </thead>
                                 <tbody data-container="true" data-template="true">
                                    
                                     <tr>
                                         <td data-col="FECHA1"></td>
                                         <td data-col="FECHA2" ></td>
                                         <td data-col="FECHA3" ></td>
                                       
                                      </tr>
                                 </tbody>
                            </table>
                       </td>
                  </tr>


                  <tr>
                       <td class="none">
                            <table class="t">
                                 <tr>

                                      <td style="border: 0px;">
                                           <strong>Observaciones y Recomendaciones  </strong>
                                      </td>

                                 </tr>

                                 <tr>

                                      <td style="border: 0px;">
                                           <p data-api="OBSERVACIONES"> </p>
                                      </td>

                                 </tr>
                            </table>
                       </td>
                  </tr>

                  <tr id="fachada"  style="page-break-inside: avoid;">
                       <td class="none">
                            <table class="t">
                                 <tr>
                                      <td class="center bold fondo">FACHADA</td>
                                 </tr>
                                 <tr>
                                      <td class="center grande" data-api="FACHADA" id="facha"></td>
                                 </tr>
                            </table>
                       </td>
                  </tr>


                  <!-- <tr>
                      <td class="none">
                          <table class="t">
                              <tr>
                                  <td class="fondo center bold">ACTA ENTREGA</td>
                              </tr>
                              <tr>
                                  <td class="center fotoacta"><span data-api="ACTAENTREGA"></span></td>
                              </tr>
                          </table>
                      </td>
                  </tr> -->


                   <tr>
                       <td style="padding: 10px;  border: 0px; page-break-after: always;"></td>
                   </tr>
                   <tr id="tr1" style="page-break-inside: avoid;">
                       <td class="none">
                           <table class="t">
                               <tr>
                                   <td style="border:0;" colspan="3">
         
                                       <script type="text/template" id="fotos-vt1">
                                           <figure id="figure1">
                                               <%= tr.image %>
         
                                           </figure>
                                           <p><%= tr.description %></p>
                                       </script>
         
         
                                       <div>
         
                                           <table class="t" cellspacing="0" cellspadding="0">
                                               <tbody id="contentFigures1"></tbody>
                                           </table>
                                       </div>
                                       <div id="allfigures1">
                                           <table class="Fotos1" class="font-table" style="width: 100%;" border="1" cellspacing="0" data-api="DESAGUE">
         
                                               <tbody data-container="true" data-template="true">
                                                   <tr>
                                                       <td data-col="FOTO"></td>
                                                       <td data-col="DESCRIPCION"></td>
                                                   </tr>
                                               </tbody>
                                           </table>
         
         
         
         
                                       </div>
         
                                   </td>
                               </tr>
                           </table>
                       </td>
                   </tr>



                   <tr id="tr2" style="page-break-inside: avoid;">
                       <td class="none">
                           <table class="t">
                               <tr>
                                   <td style="border:0;" colspan="3">
         
                                       <script type="text/template" id="fotos-vt2">
                                           <figure id="figure2">
                                               <%= tr.image %>
         
                                           </figure>
                                           <p><%= tr.description %></p>
                                       </script>
         
         
                                       <div>
         
                                           <table class="t" cellspacing="0" cellspadding="0">
                                               <tbody id="contentFigures2"></tbody>
                                           </table>
                                       </div>
                                       <div id="allfigures2">
                                           <table class="Fotos2" class="font-table" style="width: 100%;" border="1" cellspacing="0" data-api="FOTODESAGUE">
         
                                               <tbody data-container="true" data-template="true">
                                                   <tr>
                                                       <td data-col="FOTO"></td>
                                                       <td data-col="DESCRIPCION"></td>
                                                   </tr>
                                               </tbody>
                                           </table>
         
         
         
         
                                       </div>
         
                                   </td>
                               </tr>
                           </table>
                       </td>
                   </tr>
         

                   <tr id="tr3" style="page-break-inside: avoid;">
                       <td class="none">
                           <table class="t">
                               <tr>
                                   <td style="border:0;" colspan="3">
         
                                       <script type="text/template" id="fotos-vt3">
                                           <figure id="figure3">
                                               <%= tr.image %>
         
                                           </figure>
                                           <p><%= tr.description %></p>
                                       </script>
         
         
                                       <div>
         
                                           <table class="t" cellspacing="0" cellspadding="0">
                                               <tbody id="contentFigures3"></tbody>
                                           </table>
                                       </div>
                                       <div id="allfigures3">
                                           <table class="Fotos3" class="font-table" style="width: 100%;" border="1" cellspacing="0" data-api="ANTES">
         
                                               <tbody data-container="true" data-template="true">
                                                   <tr>
                                                       <td data-col="FOTO"></td>
                                                       <td data-col="DESCRIPCION"></td>
                                                   </tr>
                                               </tbody>
                                           </table>
         
         
         
         
                                       </div>
         
                                   </td>
                               </tr>
                           </table>
                       </td>
                   </tr>


                   <tr id="tr4" style="page-break-inside: avoid;">
                       <td class="none">
                           <table class="t">
                               <tr>
                                   <td style="border:0;" colspan="3">
         
                                       <script type="text/template" id="fotos-vt4">
                                           <figure id="figure4">
                                               <%= tr.image %>
         
                                           </figure>
                                           <p><%= tr.description %></p>
                                       </script>
         
         
                                       <div>
         
                                           <table class="t" cellspacing="0" cellspadding="0">
                                               <tbody id="contentFigures4"></tbody>
                                           </table>
                                       </div>
                                       <div id="allfigures4">
                                           <table class="Fotos4" class="font-table" style="width: 100%;" border="1" cellspacing="0" data-api="DESPUESMANTENIMIENTO">
         
                                               <tbody data-container="true" data-template="true">
                                                   <tr>
                                                       <td data-col="FOTO"></td>
                                                       <td data-col="DESCRIPCION"></td>
                                                   </tr>
                                               </tbody>
                                           </table>
         
         
         
         
                                       </div>
         
                                   </td>
                               </tr>
                           </table>
                       </td>
                   </tr>


                   <tr id="tr5" style="page-break-inside: avoid;">
                       <td class="none">
                           <table class="t">
                               <tr>
                                   <td style="border:0;" colspan="3">
         
                                       <script type="text/template" id="fotos-vt5">
                                           <figure id="figure5">
                                               <%= tr.image %>
         
                                           </figure>
                                           <p><%= tr.description %></p>
                                       </script>
         
         
                                       <div>
         
                                           <table class="t" cellspacing="0" cellspadding="0">
                                               <tbody id="contentFigures5"></tbody>
                                           </table>
                                       </div>
                                       <div id="allfigures5">
                                           <table class="Fotos5" class="font-table" style="width: 100%;" border="1" cellspacing="0" data-api="ANTESSUBTERRANEO">
         
                                               <tbody data-container="true" data-template="true">
                                                   <tr>
                                                       <td data-col="FOTO"></td>
                                                       <td data-col="DESCRIPCION"></td>
                                                   </tr>
                                               </tbody>
                                           </table>
         
         
         
         
                                       </div>
         
                                   </td>
                               </tr>
                           </table>
                       </td>
                   </tr>



                   <tr id="tr6" style="page-break-inside: avoid;">
                       <td class="none">
                           <table class="t">
                               <tr>
                                   <td style="border:0;" colspan="3">
         
                                       <script type="text/template" id="fotos-vt6">
                                           <figure id="figure6">
                                               <%= tr.image %>
         
                                           </figure>
                                           <p><%= tr.description %></p>
                                       </script>
         
         
                                       <div>
         
                                           <table class="t" cellspacing="0" cellspadding="0">
                                               <tbody id="contentFigures6"></tbody>
                                           </table>
                                       </div>
                                       <div id="allfigures6">
                                           <table class="Fotos6" class="font-table" style="width: 100%;" border="1" cellspacing="0" data-api="DESPUESSUBTERRANEO">
         
                                               <tbody data-container="true" data-template="true">
                                                   <tr>
                                                       <td data-col="FOTO"></td>
                                                       <td data-col="DESCRIPCION"></td>
                                                   </tr>
                                               </tbody>
                                           </table>
         
         
         
         
                                       </div>
         
                                   </td>
                               </tr>
                           </table>
                       </td>
                   </tr>

                   <tr id="actas"  style="page-break-inside: avoid;">
                       <td class="none">
                            <table class="t">
                                 <tr>
                                      <td class="center bold fondo">ACTA DE SERVICIO</td>
                                 </tr>
                                 <tr>
                                      <td class="center grande" data-api="ACTASERVICIO" id="acta"></td>
                                 </tr>
                            </table>
                       </td>
                  </tr>

                  <tr id="actas"  style="page-break-inside: avoid;">
                    <td class="none">
                         <table class="t">
                              <tr>
                                   <td class="center bold fondo">CERTIFICADO </td>
                              </tr>
                              <tr>
                                  <td class="center" style="border: 0px;"> <img src="http://imgfz.com/i/sOdzn2N.png" width="100%" height="900px" alt=""></td>
                              </tr>
                         </table>
                    </td>
               </tr>

               <tr style="page-break-after: always;"></tr>

                  <tr>
                       <td class="none">
                            <table class="t">
                                 <tr>

                                      <td class="center bold fondo" >
                                           <strong>CONCLUSIONES  </strong>
                                      </td>

                                 </tr>

                                 <tr>

                                      <td style="border: 0px;">
                                           <p style="margin-bottom: 20px; font-size: 16px;" data-api="CONCLUSIONES"></p> 
                                      </td>

                                 </tr>
                            </table>
                       </td>
                  </tr>



                  
                  <tr id="tr7" style="page-break-inside: avoid;">
                       <td class="none">
                           <table class="t">
                               <tr>
                                   <td style="border:0;" colspan="3">
         
                                       <script type="text/template" id="fotos-vt7">
                                           <figure id="figure7">
                                               <%= tr.image %>
         
                                           </figure>
                                           <p><%= tr.description %></p>
                                       </script>
         
         
                                       <div>
         
                                           <table class="t" cellspacing="0" cellspadding="0">
                                               <tbody id="contentFigures7"></tbody>
                                           </table>
                                       </div>
                                       <div id="allfigures7">
                                           <table class="Fotos7" class="font-table" style="width: 100%;" border="1" cellspacing="0" data-api="FOTOSCONCLUSIONES">
         
                                               <tbody data-container="true" data-template="true">
                                                   <tr>
                                                       <td data-col="FOTO"></td>
                                                       <td data-col="CONCLUSIONES"></td>
                                                   </tr>
                                               </tbody>
                                           </table>
         
         
         
         
                                       </div>
         
                                   </td>
                               </tr>
                           </table>
                       </td>
                   </tr>

       
       

                 </tbody>
             </table>
        </div>
  
   <script type="text/javascript">
  
       ucCustomReport.AfterLoad = function () {
           try {
  
            moment.locale('es');

            var aereo = $("#aereo").html();
            var subte = $("#subte").html();

            if (aereo == '0' || aereo == '' || aereo == 0) {
                $(".aereo").css({
                    display: 'none'
                })
            }

            if (subte == '0' || subte == '' || subte == 0) {
                $(".subte").css({
                    display: 'none'
                })
            }

             var date1 = moment($("#date1").html()).format('YYYY-MM-DD');

             $("#fdate1").html(moment(date1).format('DD MMMM'))

             $('.ftrecursos').each(function(i, item){
                  var td = item.children[0];
                  $('#recursosImagenes').append(td);
             })

             $('.actividades1').each(function(i, item){
                  $('#lista1').append('<tr><td style="border: 0px;"><span style="font-size: 20px; font-weight: bold; padding-right: 10px;">.</span> ' + item.children[0].textContent + '</td></tr>');
             })

             $('.actividades2').each(function(i, item){
                  $('#lista2').append('<tr><td style="border: 0px;"><span style="font-size: 20px; font-weight: bold; padding-right: 10px;">.</span> ' + item.children[0].textContent + '</td></tr>');
             })

             var array = [];
             $('.dias').each(function(i, item){
                  var dia = moment(item.children[0].textContent).format('YYYY-MM-DD');
                  console.log(item, dia)
                  array.push(moment(dia).format('DD-MMMM-YYYY'))
             })
             $('#dias').html(array.join(','));

             var j = 0;
             var suma = 3;
             var arregloimg = [];
             $('.lista').each(function(i, item){
                  console.log(item.children[0], item.children[1]);
                  $('#lista3').append('<tr><td style="border: 0px;"><span style="font-size: 20px; font-weight: bold; padding-right: 10px;">.</span> ' + item.children[0].textContent + '</td></tr>');
                  if (item.children[1].innerHTML !== '') {
                    arregloimg.push({
                       element: item.children[0].textContent,
                       img: item.children[1].innerHTML
                  })
                  }
                  
             })
             console.log(arregloimg)

             $.each(arregloimg, function(i, item){
                  if (j === 0) {
                       $('#lista3fotos').append('<tr><td class="none" style="vertical-align: top;"><table class="t" ><tr id="con' + suma +'"></tr></table></td></tr>')
                  }

                  if (j % 3 == 0 && j!==0) {
                       $('#lista3fotos').append('<tr><td class="none" style="vertical-align: top;"><table class="t"><tr id="con' + suma +'"></tr></table></td></tr>')
                       suma = suma + 3;
                  }

                  $("#con"+suma).append('<td class="none"><table class="t"><tr><td style="background: #f1f1f1;">' + item.element + '</td></tr><tr> <td class="center">' + item.img + '</td></tr></table></td>')

                  j++;
             })

             if ($("#facha").html() === '') {
                  $("#fachada").html('')
             }

             if ($("#acta").html() === '') {
                  $("#actas").html('')
             }

           for (var i = 1; i <= 7; i++) {
    
    var mensaje = '';

    if (i === 1) {
        mensaje = 'ACTIVIDADES DE DESAGUE TANQUES AEREOS';
    } else if (i === 2) {
        mensaje = 'ACTIVIDADES DE DESAGUE TANQUE SUBTERRANEO';
    } else if (i === 3) {
        mensaje = 'ANTES DE MANTENIMIENTO TANQUES AEREOS';
    } else if (i === 4) {
        mensaje = 'DESPUES DE MANTENIMIENTO TANQUES AEREOS';
    }  else if (i === 5) {
        mensaje = 'ANTES DE MANTENIMIENTO TANQUE SUBTERRÁNEO';
    } else if (i === 6) {
        mensaje = 'DESPUÉS DE MANTENIMIENTO TANQUE SUBTERRÁNEO';
    } else if (i === 7) {
        mensaje = 'FOTOS CONCLUSIONES';
    } 


    var data = [];


$('.Fotos' + i + ' tr').each(function (o) {

console.log(o);

var ele = {};
$(this).find("td").each(function (j, o) {
   
    var value = $(this).html();

    if (j === 0) {
        ele.image = value;
    }

    if (j === 1) {
        ele.description = value;
        data.push(ele);
    }
});

});
var z = 0;
var html = '';

console.log(data);
if(data[0].image === "") {
$("#tr"+i).hide();
} else {
if (data.length > 0)
html =  '<tr ><td colspan="2" style="border:none;">' + '<div class="clonediv"></div>' + '</td></tr>' + '<tr>' +
    '<td colspan="2" style="background-color: #005AA7; color: #fff;padding-bottom: 0px; width: 100%"><center><strong>' + mensaje +  '</strong></center></td>'  +
    '</tr>';

var j = 0;
$.each(data, function (m, tr) {
//console.log("z-->" + z);

if (j % 4 == 0 && j!==0) {
    //  if (j % 4 == 0) {
    // console.log("-->" + j);
    //salto de pagina
    html = html + '<tr style="page-break-after: always;"><td coldiv="1" style="border:none;"><p></p></td></tr>';
// html = html + '<p style="page-break-after:always;"></p>';
    //margin al inicio de la pagina
    //    html = html + '<tr><td coldiv="2" style="height:20px;"><div sytyle="float:right;margin-right:10px;">Page ' + cont_pages + ' / <span id="cont_pages"></span> </div></td>';
//  html = html + '<tr><td coldiv="2" style="height:20px;"></td></tr>';
    // $("#contentFigures").append('<tr><td coldiv="2"><p style="page-break-after:always;"></p></td></tr>');
    html = html + '<tr><td colspan="2"  style="border:none;">' + '<div class="clonediv"></div>' + '</td></tr>' + '<tr>' +
    '<td colspan="2" style="background-color: #005AA7; color: #fff; padding-bottom: 0px; width: 100%"><center><strong>' + mensaje +  '</strong></center></td>' +
    '</tr>';

}

j++;


var template2 = _.template($('#fotos-vt'+ i).html(), { tr: tr });
if (z == 0) {
    html = html + '<tr>';
}
if (z < 2) {

    html = html + '<td style="text-align:center;padding:2px;border:1px solid #000; width: 50%;"> ' + template2 + '</td>';
}

if (z == 1) {
    z = 0;
    html = html + '</tr>';
}
else
    z++;

});

app.console("#contentFigures" + i );
// console.log("html-->" + html);
$('#allfigures' + i ).hide();
$("#contentFigures" + i).html(html);

$('#figure' + i ).each(function (j) {
var figure = $(this);

// figure.find('img').attr("height", "280");
// figure.find('img').attr("width", "300");
});
}


}
       }
       
           catch (exc) {
               app.excManager("ucCustomReport", "AfterLoad", exc);
           }
   
       } 
   
   </script>